@font-face {
    font-family: 'Hack';
    src: url('fonts/hack-regular-webfont.woff2') format('woff2'),
         url('fonts/hack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #282a2e;
	font-family: "Hack";
	text-align: center;
	font-weight: normal;
	word-wrap: break-word;
	margin: 50px 50px 50px 50px;
}
h {
	color: #fefd30;
	font-weight: bold;
	font-size: 30px;
}
p {
	color: #fefd30;
	font-size: 20px;
}
