---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Swearing is Becoming Standard." description="I will explain why I think swearing is becoming a part of daily speech.">
<h>Swearing is Becoming Standard.</h>
<p>One thing I will not do in this article is make a defense for or against swearing. Personally, I could go either way based on whether or not the speaker is using the words well. For example, people will say, "Look what you fucking did," but the swear word in there can't be moved to another part of the sentence. It is actually become a grammar concept of it's own. Imagine learning that in English class! "Hey kids, were gonna swear today!" Obviously, that is far away, but recently, swearing became more accepted and treated as normal. It is quite strange how words like that evolve into completely new meanings. Well, most of the good swear words have been diluted of meaning due to misuse, so you have to resort to a word like "heck" to get the job done.</p>
</Layout>
