---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="My Writing Sucks!" description="It is really simple, yet so hard.">
<h>My Writing Sucks!</h>
<p>I don't know if this is just a recent thing, but my writing has become really bad. My thoughts are so cool in my head, but are very bad when I am writing them in Neovim (like how I am now). Still, I am bringing myself to write one article on here each day. It streches my thoughts and makes my brain have to think. It is a nice exercise for school writing, but in school I have to make my writing less focused on you and me.</p>
</Layout>
