---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Sleep" description="Sleep is important to life.">
<h>Sleep</h>
<p>Every day, I have to write one of these articles. I write it before bed, when I am completely ready to collapse. I am actually doing that right now, so I will head to bed.</p>
</Layout>
