---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Water" description="Pure perfection.">
<h>Water</h>
<p>I love water. It is the best drink of the entire universe. If you go to a resturant, you will have a safe bet on the water. It keeps your body working, so go drink it.</p>
</Layout>
