---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Teaching a Class" description="I got to teach a class about HTML!">
<h>Teaching a Class</h>
<p>I got to teach a class in my school today. Everyone* was able to make a website. It is obvious by the asterisk, but it varied in success. One guy didn't know that a "1" and "l" were different, despite having a monospaced font be very clear on which is which. Regardless, it was a fun time. I got to teach people, and one person was actually able to get their website we made out on Codeberg.</p>
</Layout>
