---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Terrible Youtube Recommendations" description="Youtube gives me terrible videos in my recommended.">
<h>Terrible Youtube Recommendations</h>
<p>Youtube is terrible at giving me recommendations. Maybe it is because I don't use Google or any of their products besides Youtube. It could also be that every Youtuber is producing absolute garbage in order to get some views. Youtubers are also more focused on Shorts, and I choose not to view those.</p>
</Layout>
