---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Graduating From Superbeginner" description="I had to watch a few non-Pablo videos.">
<h>Graduating From Superbeginner</h>
<p>Today was the first day I watched the beginner videos. I have ~19 hours of input so far. Also, I had my first talk with <a href="https://www.youtube.com/channel/UCFTCBOGaXOruH-JM4_9IbFA">jan Kiwisin</a>; it was hard but fun. He gave me a lot of leeway with it.</p>
</Layout>
