---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="I Had a Really Good Idea For Today." description="The thing is, I forgot it.">
<h>I Had a Really Good Idea For Today.</h>
<p>The only problem is, I forgot it.</p>
<p>Instead of writing a normal article, I just want to talk about how much I have been enjoying dwm. It is possibly the best WM I have used. I really like that it is flexible.</p>
</Layout>
