---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Why dwm is the Best Window Manager" description="dwm is the most flexible one out there.">
<h>Why dwm is the Best Window Manager</h>
<p>Personally, I am a dwm user. I have thought discontinuing the KDE part of my configs, but I think it is nice to have just in case something goes horribly wrong. dwm is great for it's flexibility. No other window managers can be customized as much as dwm. The beauty with dwm is that it doesn't do much out of the box, but it can be programmed to do anything.</p>
</Layout>
