---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="KDE? More Like Trash" description="KDE is blaoughted!!!!!!!!!!!!!!!!!">
<h>KDE? More Like Trash</h>
<p>Now that I have been playing around with dwm, I realize that KDE is just Linux training-wheels. dwm and other window managers have done so good with just being usable. KDE takes too much resources and configuring it is hard sometimes, so dwm makes me rejoice. I will make a GTK theme soon, so look out for that. I will make it based around my famous yellow and the gray that you and I are looking at as we read this.</p>
</Layout>
