---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Websites are Cool" description="We should all own one.">
<h>Websites are Cool.</h>
<p>Everyone can own a website (seriously, hosting is free with <a href="https://github.com/">GitHub</a> or <a href="https://codeberg.org/">Codeberg</a>), and there are so many ways to use websites. I was recently making a GitHub page for some random testing thing, and I was able to reuse this domain for a <a href="https://lipu-nimi.drogobo.com">cool subdomain</a> for that. There are literally countless ways to use a website or domain, and maybe, one day, I will have a server that I will use to take this page away from Codeberg and put it on my own no.</p>
</Layout>
