---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="The Magic Has Started" description="It works.">
<h>The Magic Has Started</h>
<p>Every day, I have watched ~30 minutes of Dreaming Spanish. I have a total of 33 hours, and I can tell that my Spanish has improved so much since I have started. I can understand small meanings of words in some media, but I am far from comprehending anything in Spanish. Even though it is hard, I have to continue. This is the best way to learn Spanish, and I have sunk a lot more time into this than any other language learning endeavor I have ever take.</p>
</Layout>
