---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Puberty is so Hard." description="They did NOT tell me about this.">
<h>Puberty is so Hard.</h>
<p>Man, I have to be tired and out of energy for like 3 hours a day. It's practically like I hit my experation date after 9 PM. I also have my self-imposed work like this website, toki pona practice, or Spanish that I have to get done every day. All this stuff is filling my day and making it so hard to just do anything. Why do they make us do school in times like these?</p>
</Layout>
