---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Plan for Fluency" description="I WILL become fluent in toki pona.">
<h>Plan for Fluency</h>
<p>I want to become a fluent speaker of toki pona. The plan is that I will speak toki pona for 15 minutes each day. I want to be fluent before school starts, so I think this will be good. I will get so much input from other's speaking. The biggest problems I have right now are converting thoughts into language, speaking at a good speed, and listening to some REALLY fast speakers. I think, though, that my plan will work.</p>
</Layout>
