---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Grand Dad" description="What would the world be like if he never clicked 'mario 7'?">
<h>Grand Dad</h>
<p>The multiverse theory is quite intriguing. For example, what if Joel never decided to click 'mario 7' on the game selection screen? We would never be able to view the grandest meme of all time. SiIvagunner wouldn't exist. The theory has some good merit. The universe(s) where he says, "Oh yeah, I played that one," are certianly in bad times. They have 2020 times 40.</p>
</Layout>
