---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Another One?" description="OH NO PLEASE NO!">
<h>Another One?</h>
<p>NO, I DON'T WANT TO DO THAT! I recently learned that there is an Esperanto course that uses comprehensible input. Even though I could just learn it, I AM NOT GOING TO. I am not going to learn Esperanto at least for a long time.</p>
</Layout>
