---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Screw the Diet" description="I bought the buffet and now I will use it.">
<h>Screw the Diet</h>
<p>So, I have been on a diet for a few months now. I have lost 30 pounds. The thing is, I bought a buffet. I have to get the money's worth. I weigh 175 lbs right now, so I will check back in a week to hold myself accountable on not screwing it up.</p>
</Layout>
