---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Unscrew the Diet" description="It actually wasn't that bad.">
<h>Unscrew the Diet</h>
<p>As you may know from yesterday's article, I had a quick cheat with my diet today. It was odd being able to eat normally again. I actually got to have ice cream and stuff without much shame. I also didn't gain any weight, maybe because I walked around all day.</p>
</Layout>
