---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Running Out of Ideas" description="What can I do?">
<h>Running Out of Ideas</h>
<p>I am starting to run out of ideas for blog pages. I will continue to do this every, though. This is just my thoughts for now.</p>
</Layout>
