---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Future of this Site" description="I am done, bro.">
<h>Future of this Site</h>
<p>Man, I have no clue what to continue to write. I might slow down my articles to just one per week. That lukism article has been on the grill for like a month now, and I haven't even gotten a single point of data or good research for it. I might just put stuff on a hold for a whi;te.</p>
</Layout>
