---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="50th Hour" description="I GOT SO FARRRRRRRRRRRRRR">
<h>50th Hour</h>
<p>After 299 videos, 79 days, and 50 hours, I have come to be at the second level of Dreaming Spanish. I am so glad to be doing this. It says I am better than I was before and that I know 300 words, so that is like 1 word per video.</p>
</Layout>
