---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Finals" description="School is weird.">
<h>Finals</h>
<p>On June 9th, I end school, so I have to do a bunch of finals. I have a math and English final tomorrow. I had a Spanish final today which was really easy. I will have a history and science final on Wednesday. Wish me luck.</p>
</Layout>
