---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Trip to the ER" description="They wanted to do unspeakable things.">
<h>Trip to the ER</h>
<p>I went to the ER today because I was loosing blood very quickly. They took like 10 thingies of blood and gave me a lot of iron. I can still taste it. I got to stay away from school for this all.</p>
</Layout>
