---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="This Website Will Close Soon" description="This costs money to run, you know!">
<h>This Website Will Close Soon</h>
<p>Unfortunately, this website will close on April 1st at 11:60:00 PM (EDT). I couldn't continue to pay for this, so I have to shut it down. I also a lot of burnout because I didn't have any ideas. I hope you all enjoyed this website while it was still online.</p>
</Layout>
