---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Basketball" description="I played it with my friends today.">
<h>Basketball</h>
<p>Today I played basketball today with my friends. I am not very good at it because I just started, but I am predisposed to being good at it. I am a tall guy with a large surface area, and that makes it a tresoctogintaducentilliunvigintiquadrengentillion times easier to play. My friends are tutoring me. Also, I almost forgot to write the blog for today.</p>
</Layout>
