---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Tests" description="I had a science test today.">
<h>Tests</h>
<p>I took a science test to determine how good I am with biology, and I got a very high score. I got everything at the highest level, which means that I am at least smart. I do need to <em>test</em> using Svelte or something on this website.</p>
</Layout>
