---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="GAME DEV ALERT!" description="I am trying to make a game.">
<h>GAME DEV ALERT!</h>
<p>I am trying to make a game. I have to learn Godot and draw well, but that shouldn't be too hard. My main problem is the drawing; I HAVE NO IDEA HOW TO DRAW!! I SUCK A SYMMETRY! AAHH!</p>
</Layout>
