---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="More Basketball" description="I got to play some more basketball.">
<h>More Basketball</h>
<p>I had some time on the court today. I played against some kids that had a huge range of height, and I just destroyed them with my other two. Today will go down in history.</p>
</Layout>
