---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Nobody Knows Anything" description="There is a reason that some projects never get finished.">
<h>Nobody Knows Anything</h>
<p>Today, I realized something: there is no value in waiting for someone to do something. Even if they give a specific time to work with, they could still be mistaken and not be ready when the time comes. This is where you come in. You can work on things by yourself and set your own deadlines, and you can get them. I don't think there is a valid reason to claim burnout if you are doing something that doesn't requre physical strength. Laziness and procrastination are the only true limiters in your ability, and the way we talk about burnout is really counterproductive. We should encourage breaks, but taking to much time helps no one.</p>
</Layout>
