---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Dang it, Dylan!" description="Good going, Dylan, now the bot is down.">
<h>Dang it, Dylan!</h>
<p>I am writing this article specifically for Dylan. Dylan, you know who you are. You broke that music bot. You got that thing IP banned from Youtube, and then the operator of the bot had to shut it down. You say, "I didn't mean to," but like, you spammed the play command one tresoctogintaducentilliunvigintiquadringentillion times.</p>
</Layout>
