---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Perfect Pitch" description="How?!?!?!?!?!">
<h>Perfect Pitch</h>
<p>Two of my friends have perfect pitch. Both of them are into music. How does one get a perfect pitch? My friend can listen to a song and play the dang thing on the guitar. The other one can make an EDM song with just the idea of the song. With that kind of ability, why not start a Fiverr or some online business to rake in cash by writing out people's favorite songs. I am just saying, there is a lot of potential.</p>
</Layout>
