---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Drogobo's Blogs" description="My blogs are here.">
<h>My Blogs</h>
<p>Just my pages I put my thoughts on:</p>
<ul class="dashed">
	<li> <a href="/blog/toki_pona.html">lipu mi pi toki pona</a> or <a href="/blog/english.html">my blog written in English</a></li>
</ul>
</Layout>
