---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="nasin pi nimi la pi jan mute" description="jan mute li kepeken nimi la lon nasin ante.">
<h>nasin pi nimi <em>la</em> pi jan mute</h>
<p>mi wile e sona tan jan mute la jan li pana e sona. wile sona mi li ni: sina ale la nimi <em>la</em> li seme? sina ale li kepeken nimi <em>la</em> lon nasin seme? mi wile sona e kepeken pi jan ante. pona la ona li pana e sona ni tawa mi:</p>
<img src="/blog/images/la_anu.png" alt="lon" style="width:605px;height:341px">
</Layout>
