---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="nimi namako" description="toki pona la mi kepeken nimi namako mute.">
<h>nimi namako.</h>
<p>mi la nimi namako li pona mute. ni li kipisi pi nimi namako mi:</p>
<ul class="dashed">
	<li> nimi <em>we</em></li>
	<li> nimi <em>powe</em></li>
	<li> nimi <em>kipisi</em></li>
	<li> nimi <em>ali</em></li>
	<li> nimi <em>majuna</em></li>
	<li> nimi <em>leko</em></li>
	<li> nimi <em>kin</em></li>
</ul>
</Layout>
