---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="lipu li lon ala." description="ike la tenpo suno ni la mi ken ala pali e lipu sin.">
<h>lipu li lon ala.</h>
<p>ike la tenpo suno ni la mi ken ala pali e lipu sin. taso mi pali e lipu sin lon <a href="/misc/html_lesson/index.html">ni</a>.</p>
</Layout>
