---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="mi wile toki e ijo." description="tenpo tapuje la mi wile toki e ijo. taso mi ken ala toki e ijo ni.">
<h>mi wile toki e ijo.</h>
<p>tenpo tapuje la mi wile toki e ijo. taso mi ken ala. mi sona ala e tan. taso tenpo poka suno kama la mi o pali e lipu suli pi tomo sona. mi wile ala. taso mi ken ni. mi ken.</p>
</Layout>
