---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="mi wile wawa lon toki pona." description="mi o kepeken nasin seme?">
<h>mi wile wawa lon toki pona.</h>
<p>taso mi sona ala e nasin pona. mi sona e nimi ale pi toki pona. mi wile kute e jan mute pi toki pona. taso mi ken ala tan ni: ona li toki e toki pona kepeken tenpo pi lili mute. ni la mi ken ala kama wawa lon toki pona. mi o seme? mi ken seme?</p>
</Layout>
