---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="jan pi tomo sona mi" description="ona li lon ma kasi.">
<h>jan pi tomo sona mi</h>
<p>mi lon ma kasi la jan pi tomo sona mi li lon. ona li alasa e kala lon poka mama sama ona. taso mi lon ma kasi la mi toki e toki pona tawa jan. ni la mi toki e toki pona tawa ona. taso mi weka e kepeken mi pi toki pona. ni la ona li toki e "what?" tawa mi. mi nasa e ona a!</p>
</Layout>
