---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="ilo nanpa lili" description="mi wile e ni.">
<h>ilo nanpa lili</h>
<p>mi wile e ilo nanpa lili Pi. ni li pona tawa kulupu toki mi. mi ale li wile kute li wile kiwen e toki. taso mi ale li ken ala tan ni: ilo li lape sama mi. ni la jan pi wile kute li ken ala kute e kalama. ike.</p>
</Layout>
