---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="misikeke insa mi" description="ona li nasa e mi a.">
<h>misikeke insa mi</h>
<p>sijelo mi li pali e misikeke insa tan kama suli mi. ni la mi wile utala e jan tan ni: mi mije. taso mi ken ala utala e jan tan ni: mi utala e jan la mi jaki. taso mi awen wile utala e jan nasa. jan nasa li lukin ike e mi la mi wile utala e ona. taso mi ken ala. tenpo kama la mi mije suli li ken pilin ala e ni.</p>
</Layout>
