---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="toki nasa" description="ni li nasa lili.">
<h>toki nasa</h>
<p>mi toki e toki nasa. taso mi sona ala e ni. pini la mi toki e ni: ona li sona ala e nimi ona. ona li jan pi we mi. taso linja nimi ni la nimi "ona" li ken nimi Ona li ken nimi pi jan pi we mi. ni la ni li musi. mi awen kama sona e toki pona.</p>
</Layout>
