---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="mi wile toki kalama." description="ni li ken pona.">
<h>mi wile toki kalama.</h>
<p>tenpo suno ale la mi pali e lipu sama ni. taso tenpo tapuje la mi wile pali e kalama li ken toki pona. ni la mi ken toki tawa ilo mi la mi ken pana e kalama mi tawa ilo Youtube la sina ale li ken kute e ona. ni li ken pona a! tenpo suno poka la mi toki kalama. apowesi!</p>
</Layout>
