---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="tenpo seli li kama." description="mi wile pali ala lon tomo sona.">
<h>tenpo seli li kama.</h>
<p>ni la mi o kama sona e toki pona. open pi tenpo pi tomo sona la mi o open e kulupu pi toki pona. taso ni li nasa. mi awen kama sona e toki pona la mi ken ala pana e sona. taso mi ken kama wawa. mi wile kama wawa a!</p>
</Layout>
