---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="ni li sama ala sama?" description="mi wile sona.">
<h>ni li sama ala sama?</h>
<p>mi wile sona e ni: "toki pona li jo e nasin mute" li sama ala sama "nasin mute li lon toki pona"? mi sona ala. taso mi wile lape.</p>
</Layout>
