---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="tenpo pi tomo sona li kama pini." description="pona a!">
<h>tenpo pi tomo sona li kama pini.</h>
<p>kama la tenpo pi tomo sona li kama pini alu mi. pona a! tenpo seli la mi wile toki kepeken toki tu wan li wile musi kulupu li wile lape a! o pona!</p>
</Layout>
