---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="mi kama pona a!" description="mi kepeken tenpo mute tawa ni.">
<h>mi kama pona a!</h>
<p>tenpo suno ni mi toki kepeken toki pona lon tenpo suli nanpa wan. ni li tenpo suli tawa mi. ken la tenpo kama la mi ken toki pi pakala ala kepeken toki pona. mi wile e ni.</p>
</Layout>
