---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="toki we" description="nasin pi toki we">
<h>nasin pi toki we</h>
<p>nasin pi toki we la nimi pona mute li lon sama nimi We sama nimi Alu sama nimi Apowesi. nimi Apowesi li sama "o tawa pona"; taso, ona li sewi a. sina toki e nimi Apowesi la jan li pilin pona a! apowesi!</p>
</Layout>
