---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="mi pali e nimi tapuje." description="mi pana e sona pi nimi tapuje lon lipu ni.">
<h>mi pali e nimi tapuje.</h>
<p>nimi tapuje li seme? mi pana e sona ni lon lipu ni.</p>
<p>sina sona e ni: nanpa li ken nasa. nanpa tapuje li ken ante sama nanpa nasa. jan li sona ala e nanpa tapuje. taso nanpa tapuje li lon la jan li ken sona e nanpa tapuje. ilo Python li pali e nimi ni kepeken nanpa tapuje. ni mute li ken tapuje:</p>
<img src="../images/tapuje_lon.png" alt="tapuje li ken musi." style="width:540px;height:293px;">
<p>ni li sitelen pona pi nimi tapuje:</p>
<img src="../images/tapuje_sp.png" alt="sitelen pona pi nimi tapuje" style="width:93;height:94;">
<p>o kepeken nimi ni tawa pona!</p>
</Layout>
