---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="nasin pi nimi anu" description="sina wile kepeken nimi anu la sina o kepeken nasin seme?">
<h>nasin pi nimi <em>anu</em></h>
<p>sina wile kepeken nimi <em>anu</em> la sina o kepeken nasin seme?</p>
<p>mi sona e nasin mi. nasin mi li ni: nimi <em>anu</em> li ken sama nimi <em>taso</em>. mi ken toki e ni: "ni li sitelen nanpa luka wan. anu mi ken toki e ni: ni li sitelen nanpa tu tu tu." anu mi ken anu: sina ken kepeken ilo anu kepeken leko la sina o anu. ni li sitelen pi nimi <em>anu</em>:</p>
<img src="../images/anu.png" alt="jan li anu." style="width:373px;height:260px;">
</Layout>
