---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="o toki tawa mi!" description="sina ken pana e toki tawa mi.">
<h>o toki tawa mi!</h>
<p>sina wile la sina ken toki tawa mi kepeken lipu linluwi <a href="mailto:luke@drogobo.com">luke@drogobo.com</a>. taso mi toki ala tawa sina. mi lukin taso e toki sina. sina wile la sina ken toki e nimi sina. sina ken kepeken toki Inli anu kepeken toki pona. lipu ni la o pana e wile sina e pilin sina tawa lipu linluwi. o toki pona!</p>
</Layout>
