---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="toki pona mi li kama ike." description="ike la mi toki e toki pona lon tenpo lili.">
<h>toki pona mi li kama ike.</h>
<p>mi wile toki e toki pona. taso mi kama nasa tan ni: mi toki ala e toki pona lon tenpo mute. ike!!!! mi sona ala e wile toki mi. mi pini.</p>
</Layout>
