---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="mi weka e jaki suli mi!" description="tenpo ale la mi suli jaki.">
<h>mi weka e jaki suli mi!</h>
<p>tenpo ale la mi suli jaki. ike. taso tenpo pini poka la mi weka e jaki suli tan sijelo mi. ni la mi kama pona lukin. mi awen weka e jaki suli. taso mi pilin pona tan ni. mi wile awen pilin pona.</p>
</Layout>
