---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="toki Epanja" description="toki Epanja la mi pilin e ni.">
<h>toki Epanja</h>
<p>tenpo kama weka la mi ken toki e toki Epanja. sitelen tawa pi jan Pablo li pona e sona mi pi toki Epanja. pona! ike la mi wile toki e toki Epanja la mi o kepeken tenpo suli. taso mi awen kama sona li awen lukin e sitelen tawa. ken la tenpo kama weka la mi sitelen e lipu pi toki Epanja. ni li pona ala pona?</p>
</Layout>
