---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Luke's Page" description="Check out this page!">
<h>Hello!</h>
<p>This is my website. I put random stuff here. Check out some links:</p>
<ul class="dashed">
	<li> <a href="/blog.html">Look at my blogging page (toki pona and English)</a></li>
	<li> <a href="https://github.com/Drogobo/drogobo.github.io">Look at the source of this website</a></li>
	<li> <a href="https://github.com/Drogobo">Check out my GitHub profile</a></li>
	<li> <a href="/misc.html">Look at the misc stuff I have here</a></li>
</ul>
<p>I have nothing else to say, so here is my image:</p>
<img src="/images/xisthebest.png" alt="x!" style="width:384px;height:384px;">
</Layout>
