---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Misc" description="All the weird stuff is on here.">
<h>Misc</h>
<p>This page contains weird, odd things on this website. Here are some of them:</p>
<ul class="dashed">
	<li> <a href="/misc/bram_luke/index.html">The website I made with my friend for a school project (source of most of it from kubowania/memory-game on Github) (reviews not real)</a></li>
	<li> <a href="/misc/html_lesson/index.html">HTML Lesson</a></li>
	<li> <a href="/misc/dog_site/index.html">Homepage For My Dog</a></li>
</ul>
</Layout>
